/* Formatação CSS para menu com efeitos
 * Fonte ROBOTO via Google Fonts
 */

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background: #e23f0e;
    padding: 80px 0;
    border: 0;
}

.nav {
    font-family: Roboto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.nav * {
    box-sizing: border-box;
    transition: all 0.35s ease;
}

.nav li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
}

.nav a {
    padding: .5em 0.8em;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    text-decoration: none;
}

.nav a:before,
.nav a:after {
    height: 10px;
    width: 10px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    opacity: 0;
}

.nav a:before {
    right: 0;
    top: 0;
    border-right: 3px solid black;
    border-top: 3px solid black;
    transform: translate(-100%, 50%);
}

.nav a:after{
    left: 0;
    bottom: 0;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    transform: translate(100%, -50%);
}

a:hover:before,
a:hover:after {
    transform: translate(0%, 0%);
    opacity: 1;
}
